*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aquamarine;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    align-items: center;
    padding: 4px;
    height: 30vh;
    background-image: url('');
    background-size: cover;
    background-position: 0 -80px;
    color: rgb(43, 128, 226);
    text-align: center;
}

footer{
    display: grid;
    place-items: center;
    padding: 4px;
    background-color: black;
    color: snow;
}

#characters{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 10px;
}

.character{
    background-color: black;   
    color: white;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.alive{
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    display: block;
}

.dead{
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    display: block;
}

.dead{
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
    display: block;
}

a{
    color: orange;
}